@charset "UTF-8";

@font-face {
	font-family: 'Alegreya';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: local('Alegreya Regular'), url('./alegreya-regular.ttf') format('truetype');
}

/* Generic */
* {
    box-sizing: border-box;
}

html { height: 100%; }

body {
	color: #333;
	-webkit-font-smoothing: subpixel-antialiased;
	font-variant-numeric: lining-nums;
	font: 16px/1 Georgia, serif;
    margin: 0 auto;
    min-height: 100%;
	overflow: hidden;
}

.wrap {
	align-items: center;
    display: flex;
	flex-direction: column;
    max-width: calc(1280px + 48px);
	padding: 0 24px;
	width: 100%;
}

h1 {
	font: 36px/1 "Alegreya", Georgia;
	font-variant-ligatures: discretionary-ligatures;
	font-style: oblique;
	text-align: center;
}

.table {
	background-color: #fff2bd;
    border: 1px solid #7a7a7a;
    display: flex;
	margin: 0 96px;
}

.col {
    display: flex;
    flex-direction: column;
}

.col:not(:last-child) {
	border-right: 1px solid #7a7a7a;
}

.col > div {
	line-height: 36px;
    padding: 0 4px;
}

.col > div:nth-child(2n){
	background-color: cornsilk;
}

.col > div:not(:last-child),
.last {
    border-bottom: 1px solid #7a7a7a;
}

.names {
	text-transform: capitalize;
}

.signatures {
    width: 196px;
}

.signatures:last-child {
	flex: 1 0 auto;
}

.title {
    text-align: center;
}
